.counter {
    text-align: right;
}
body {
color: gold;
}
    
.moth {
 height: 130px;
 width: 300px;}
.who {
height: 200px;
width: 450px;
}

img {
height: 130px;
 width: 300px;}


body {
 background-image: url("https://images.all-free-download.com/images/graphiclarge/flowers_background_dark_red_repeating_icons_pattern_6835476.jpg");
}